# MANIFEST.in

# graft src
# graft tests
# `-> adds all files inside a directory

{%- if AddCitation %}
include CITATION.cff
{%- endif %}
# `-> matches file paths relative to the root of the project

global-exclude *~ *.py[cod] *.so
# `-> matches file names (regardless of directory)
