"""Documentation about {{ package_name }}."""

import logging

logging.getLogger(__name__).addHandler(logging.NullHandler())

from .__about__ import (
    __author__,
    __copyright__,
    __date__,
    __email__,
    __version__,
)
